@media (width < 800px) {
    header {
        h1 {
            font-size: 2em;
        }

        .search-section {
            margin-right: 0;
        }

        h1 {
            color: aqua;
        }
    }

}

@media (width < 620px) {}